[package]
name = "{{project-name}}"
version = "0.1.0"
authors = ["{{authors}}"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = [ "cosmwasm/backtraces", "cosmwasm-vm/backtraces" ]

[dependencies]
cosmwasm = { version = "0.4.1" }
serde = { version = "1.0.60", default-features = false, features = ["derive"] }
snafu = { version = "0.5.0", default-features = false, features = ["rust_1_30"] }
# needed for wasm-pack build process
wasm-bindgen = "0.2"

[dev-dependencies]
cosmwasm-vm = { version = "0.4.1" }
